body {
    background:black
}

#container{
    position: absolute;
    width: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#id-canvas {
   position: relative;
    width: 800;
    height: 600;
}



#slider{
  
   width: 100%;

}
p{
    color:white
}